/* // Большие девайсы (большие десктопы, >= 1200px) col-xl- */
@media (min-width: 992px) and (max-width: 10000.98px) { 
.hidden{
    display: none;
}
}


@media (min-width: 1200px) and (max-width: 1399.98px) { 
    /* если не применить минимальную ширину кусок бэкграунда белый */
    .container{
        width: 1140px;
        margin: 0 auto;
    }
    header{
        min-width: 1400px;
    }
    section{
        min-width: 1400px;
    }
    .section_two{
        min-width: 1400px;
    }
    footer{
        min-width: 1400px;
    }
}

/* // Большие девайсы (большие десктопы, >= 992px) col-lg */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container{
        width: 960px;
        margin: 0 auto;
    }
    header{
        min-width: 1400px;
    }
    section{
        min-width: 1400px;
    }
    .section_two{
        min-width: 1400px;
    }
    footer{
        min-width: 1400px;
    }
    .img_globus{
        max-width: 600px;
    }
    .title_dream span{
        font-size: 50px;
    }
    h3{
        font-size: 25px;
    }
    p{
        margin-top: 25px;
    }
    .values{
        font-size: 20px;
    }
}

/* // Средние девайсы (планшеты, >= 768px) col-md- */

@media (min-width: 768px) and (max-width: 991.98px) {
    .container{
        width: 720px;
        margin: 0 auto;
    }
    .dream, .text_dream{
        width: auto;
        text-align: center;
    }
    .img_globus{
        display: none;
        margin: 0 auto;
        max-width: 600px;
    }
    .img_globus-hidden{
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }
    .form-btn{
        display: none;
    }
    .hidden{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .form-btn-hidden{
        text-align: center;
    }
    .img_logo{
        display: block;
        margin: 0 auto;
        width: 128px;
        margin-bottom: 70px;
    }
    .text_dream{
        font-size: 20px;
    }
    .values_all{
        margin: 0 auto 80px auto;
    }
    .form_section{
        text-align: center;
    }
    .input{
        font-size: 16px;
        width: 100%;
    }
    .btn_two{
        font-size: 20px;
        width: 100%;
    }
    .text_footer{
        text-align: center;
        font-size: 20px;
    }
    .title_dream{
        text-align: center;
    }

}  


/* // Малые девайсы (горизонтальные телефоны, >= 575px) col-sm- */

@media (min-width: 576px) and (max-width: 767.98px) {
    .container{
        width: 540px;
        margin: 0 auto;
    }
    .dream, .text_dream{
        width: auto;
        text-align: center;
    }
    h2{
        font-size: 39px;
    }
    .hidden{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .img_globus-hidden{
        display: block;
       margin: 0 auto;
        max-width: 600px;
    }
    .form-btn-hidden{
        text-align: center;
    }
    .form-btn{
        display: none;
    }
    .img_globus{
        display: none;
        margin: 0 auto;
        max-width: 500px;
        margin-top: 20px;
    }
    .img_logo{
        display: block;
        margin: 0 auto;
        width: 158px;
        margin-bottom: 70px;
    }
    .title_values{
        font-size: 29px;
    }
    .text_values{
        font-size: 24px;
    }
    .title_future{
       margin-left: -30px;
    }
    .values_all{
        margin: 0 auto 80px auto;
    }
    .input{
        width: 100%;
    }
    .btn_two{
        width: 100%;
    }
    .text_footer{
        text-align: center;
    }
    .title_dream{
        text-align: center;
    }
}


/* // Экстрамалые девайсы («портретные телефоны», < 576px) просто col- */

@media (min-width: 319.98px) and (max-width: 575.98px) {
    .container{
        width: 90%;
    }
    .dream, .text_dream{
        width: 480px;
        margin: 0 auto;
        text-align: center;
    }
    h2{
        font-size: 59px;
    }
    .hidden{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .img_globus-hidden{
        display: block;
       margin: 0 auto;
        max-width: 600px;
    }
    .form-btn-hidden{
        text-align: center;
    }
    .img_globus{
        display: none;
        margin: 0 auto;
        max-width: 800px;
        margin-top: 20px;
    }
    .img_logo{
        display: block;
        margin: 0 auto;
        width: 178px;
        margin-bottom: 70px;
    }
    .form-btn{
        display: none;
    }
    .title_values{
        font-size: 49px;
    }
    .text_values{
        font-size: 34px;
    }
    .title_future{
       margin-left: -30px;
    }
    .title_dream{
        font-size: 45px;
    }
    .text_dream{
        font-size: 26px;
    }
    .btn, .btn_two{
        font-size: 26px;
    }
    .input{
        padding: 25px 45px;
    }
    .values_all{
        margin: 0 auto 80px auto;
    }
    .form_section{
        text-align: center;
    }
    .text_footer{
        text-align: center;
    }
    .title_dream{
        text-align: center;
    }
 }






